*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2022/04/02/05/50/pet-7106365_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #242424;
    padding: 10px;
}

.img-icon{
    width: 40px;
}


.link {
    text-decoration: none;
    color: rgb(223, 223, 223);
    margin: auto;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content-home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-huella{
    width: 100px;
    margin-top: 65px;
}

.titulo-home{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    color: rgb(214, 214, 214);
}

.sub-title{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
    color: rgb(214, 214, 214);
}

.link-home {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #242424;
    border-radius: 5px;
    padding: 20px;
    width: 112px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-home:hover{
    background-color: black;
}
